*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0px;
    padding:0px;
    background-color:#0046a0;
    
}
.header{
    padding:10px;
    width:calc(100% - 32px);
    border:1px solid red;
    margin:5px;
    font-size:10px;
    display:flex;
    color:white;
}
.social-media{
    width:calc(50% - 20px);   
    padding:10px;
    margin: auto;
    
}
.facebook{
    border-radius:100%;
    padding:3px;
    background-color:white;
    color:#0046a0;
    height:5px;
}
.head-contact{
    width:calc(50% - 20px);
    padding:10px;
    margin:auto;
    text-align: right;
}
.name{
    padding:5px 10px 5px 5px;
}
.contact-name{
    padding:5px 10px 5px 5px;
}
.navigation{
    padding:10px;
    width:calc(100% - 32px);
    border:1px solid red;
    margin:5px;
    font-size:10px;
    display:flex;
    color:white;
}
.nav-button{
    display:flex;
    margin:auto;
    width:80%;
}
.seo-account{
    padding:10px;
    width:calc(20% - 20px);
    font-size:10px;

}
.seo-button{
    padding:10px;
    border-radius:20px;
    background-color:#ffa824;
    color:white;
    font-size:14px;
    border:none;

}
.rocket{
    padding:0px 5px 0px 0px;
    font-size:15px;
}
.logo{
    width:20%;
}
.logo img{
    padding:10px;
    width:calc(75% - 20px);
}
.dropdown{
 
 text-decoration: none;   
}
.drop-btn{
    padding:20px;
    background-color:transparent;
    border:none;
    color:white;
    font-weight:bolder;
    width:calc(60%-40px);
    max-width: auto;
}
.container{
    display:flex;
}
.main-text{
    width:80%;
    font-size:30px;
    font-weight:900;
    box-sizing:border-box;
    line-height: 0.5;
    margin:0px 0px 0px 20px;
}
.first-back{
    width:100%;
}
.first-back img{
    width:50%;
    
}
.text{
    color:white;
}
.text2{
    color:#ffa824;
    
}